.Main {
    width: calc(100% - 350px - 14px);
    min-width: 375px;
}
.DescriptionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 14px;
    height: calc(100% - 64px);
}

.FilmDescription {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}
.FilmDescription > span{
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
    background-color: #e3e3e3;
    border-radius: 4px;
}
.FilmDescription > span:hover{
    background-color: #b0b0b0;
}


@media screen and (max-width: 770px) {
    .Main {
        width: calc(100% );
        min-width: 0;
    }
}