
.Main {
}

.FilmContainer {
    max-width: 85vw;
    margin: 0 auto;
    padding: 14px;
}

.Modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 24px;
}

.Frame {
    width: clamp(110px, 95vw, 1200px);
    height: clamp(110px, 65vh, 1200px);
}

.Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 14px;
}
.Banner {
    max-width: clamp(150px, 100%, 350px);
}
.Banner > img{
    max-width: 100%;
}

.Wrapper > div {
   display: flex;
    flex-direction: column;
}

.Btn {
    margin-top: 14px !important;
    background-color: #e0e0e0 !important;
    color: #262626 !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    padding: 4px 14px !important;
}
.Btn:hover{
    background-color: #333333 !important;
    color: #d5d5d5 !important;
}

.MainDescription {
    gap: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.MainDescription > span{
    font-weight: 600;
}

.FeedBackPlace {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 14px;
}

@media screen and (max-width: 1000px) {
    .FilmContainer {
        max-width: 100%;
    }

    .FeedBackPlace {
        display: flex;
        flex-direction: column-reverse;
    }

    .Wrapper {
        justify-content: center;
    }

    .Frame {
        width: clamp(110px, 95vw, 1200px);
        height: clamp(110px, 25vh, 1200px);
    }
}
